html, body, .star-container {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.star-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Cafe24Decobox";
    color: white;
    position: relative;
    z-index: 0;
}

.group {
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    font-size: 150px;
    background: transparent; /* 배경 가림 방지 */
    pointer-events: auto;
    z-index: 3;
}

.group.a { left: 20%; top: 25%; }
.group.b { left: 73%; top: 10%; }
.group.c { left: 20%; top: 60%; }
.group.d { left: 70%; top: 65%; }
.group.e { left: 55%; top: 47%; }

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
    z-index: 5;
}

.group.a:hover ~ .a-text,
.group.b:hover ~ .b-text,
.group.c:hover ~ .c-text,
.group.d:hover ~ .d-text,
.group.e:hover ~ .e-text {
    opacity: 1;
}

.shooting-star {
    position: absolute;
    opacity: 0.9;
    filter: blur(1.5px);
    z-index: 1;
    pointer-events: none;
    transition: transform 2.2s linear, opacity 2.2s linear;
}
