@import url("./font/Dokdo.css");

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.center-text {
    position: absolute;
    z-index: 1000;
}

body {
    background-image: url("./image/ExNight.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Cafe24Decobox';
    position: relative;
    color: white;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.group {
    position: absolute;
    cursor: pointer;
    font-weight: bold;
}

.group.a { left: 20%; top: 25%; font-size: 150px; }
.group.b { left: 73%; top: 10%; font-size: 150px; }
.group.c { left: 20%; top: 60%; font-size: 150px; }
.group.d { left: 70%; top: 65%; font-size: 150px; }
.group.e { left: 55%; top: 47%; font-size: 150px; }

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
    font-family: 'Dokdo';
}

.group.a:hover ~ .center-text.a-text,
.group.b:hover ~ .center-text.b-text,
.group.c:hover ~ .center-text.c-text,
.group.d:hover ~ .center-text.d-text,
.group.e:hover ~ .center-text.e-text {
    opacity: 1;
}

.shooting-star {
    position: absolute;
    opacity: 0.9;
    filter: blur(1.5px);
    z-index: 1;
    pointer-events: none;
    transition: transform 2.2s linear, opacity 2.2s linear;
}
